//- WebSite Color
$mian-color:      #010312;
$sacond-color:    #117bfb;
$third-color:     #ffffff;
$prg-color:       #a09e9e;
$overlay-color:   #1b1d2a;
$cont-b-gr-color: #f3f3f3;
$form-color:      #d0d0d0;
//- Color Social Media Icons 
$fb:  #3b5998;
$tw:  #1da1f2;
$in:  #c32aa3;
$be:  #053eff;
$gt:  #5a5959;
$l-in:#007bb5;
//- Font Family
$main-font: "Poppins", sans-serif;
$logo-font: "Pattaya", sans-serif;


